* {
    margin: 0;
    padding: 0;
    border: 0;
  
}
.home{
    background-image: linear-gradient(to bottom red, blue)
}
.container {
    
    height: 110%;
    margin-top: -10px;
    color: white;
    
}
.button {
    
    display: inline-flex;
    width: 14%;
    background-color: gray;
    margin: 1%;
    justify-content: center;
    padding: 2%;
    
}
.button-div {
    margin-top: 200px;
    justify-content: space-evenly;
    
}
.background-img {
    background-size: cover;
}
.title-work {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    margin-top: 10%
}
.set-work {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    margin-top: 2%
}
.reps-work{
    display: inline-grid;
    justify-content: center;
    width: 100%;
    margin-top: 2%
}

.home-btn {
    
    text-decoration: none;
    margin-top: 1%;
    margin-left: 80%;
    width: 14%;
    background-color: rgb(37, 37, 37);
    justify-content: center;
    padding: 2%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    
}
.title-home {
    margin-top: 0px;
    margin: 1%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    justify-content: center;
    font-size: 100px;
    border: 3px solid black;
    height: 35vh;    
    background-position: 20% 40%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 5px 3px black;
}
.dumbell{
    justify-content: center;
    justify-items: center;
    padding-left: 40%;
    width: 80px;
    height: 100px;

}

.title-legs {
    margin-top: 4%;
    display: grid;
    justify-content: center;
}
.title-arms {
    margin-top: 4%;
    display: grid;
    justify-content: center;
}
.title-chest {
    margin-top: 4%;
    display: grid;
    justify-content: center;
    color: black
}
.title-back {
    margin-top: 4%;
    display: grid;
    justify-content: center;
}
.title-core {
    margin-top: 4%;
    display: grid;
    justify-content: center;
}
nav {
    margin-top: 5%;

    text-align: center;
}
.legs-btn {
    display: inline-block;
    text-align: center;
    margin: 3%;
    width: 10%;
    height: 5%;
}
.arms-btn {
    display: inline-block;
    text-align: center;
    margin: 3%;
    width: 10%;
    height: 5%;
}
.back-btn {
    display: inline-block;
    justify-content: center;
    margin: 3%;
    width: 10%;
    height: 5%;
}
.chest-btn {
    display: inline-block;
    justify-content: center;
    margin: 3%;
    width: 10%;
    height: 5%;
}
.core-btn {
    display: inline-block;
    text-align: center;
    margin: 3%;
    width: 10%;
    height: 5%;
} 
.title2-back {
    display: inline-grid;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}
.back-vid-container {
    display: inline-grid;
    justify-content: center;
    /* width: 100%; */
    height: 30vh;
    width: 100vw;
    /* background-color: gray; */
    /* margin-left: 10%; */
    /* margin-right: 0; */
    
}
div.button-div {
    padding-top: 200px;
}
.back-diagram-container {
    position: absolute;
    display: inline-grid;
    height: 40vh;
    width: 20vw;
    background-color: gray;
    margin-left: 60%;
    margin-top: -55vh;
}
.back-description {
    /* position: absolute; */
    margin-left: 10%;
    /* margin-top: ; */
    width: 70vw;
    height: 10vh;
}
.back-p {
    margin: 10%;
}
.core-vid-container {
    /* position: absolute; */
    display: inline-grid;
    height: 30vh;
    width: 80vw;
    background-color: gray;
    margin-left: 10%;
    

    /* margin-top: 0vh; */
    /* margin-right: 0; */
    
}
.core-diagram-container {
    /* position: absolute; */
    display: inline-grid;
    height: 40vh;
    width: 20vw;
    background-color: gray;
    margin-left: 60%;
    margin-top: -55vh;
}
.core-description {
    /* position: absolute; */
    margin-left: 10%;
    margin-top: 35%;
    width: 70vw;
    height: 10vh;
}
.core-p {
    margin: 10%;
}
.title2-chest {
    display: inline-grid;
    justify-content: center;
    color: black;
    width: 100%;
}
.chest-vid-container {
    display: inline-grid;
    justify-content: center;
    height: 30vh;
    width: 80vw;
    /* position: absolute; */
    /* background-color: gray; */
    margin-left: 10%;
    /* margin-right: 0; */
    
}
.chest-diagram-container {
    /* position: absolute; */
    display: inline-grid;
    height: 40vh;
    width: 20vw;
    /* background-color: gray; */
    margin-left: 60%;
    margin-top: -55vh;
}
.chest-description {
    /* position: absolute; */
    margin-left: 10%;
    margin-top: 5%;
    width: 70vw;
    height: 5vh;
}
.chest-p {
    margin: 10%;
}
.title2-legs {
    display: inline-grid;
    justify-content: center;
    margin: 10%;
    width: 80vw;
    
}
.legs-vid-container {
    display: inline-grid;
    height: 30vh;
    width: 80vw;
    background-color: gray;
    margin-left: 10%;
    /* margin-right: 0; */
    
}
.legs-diagram-container {
    position: absolute;
    display: inline-grid;
    height: 40vh;
    width: 20vw;
    background-color: gray;
    margin-left: 60%;
    margin-top: -55vh;
}
.legs-description {
    /* position: absolute; */
    margin-left: 10%;
    margin-top: 20%;
    width: 70vw;
    /* height: 5vh; */
}
.legs-p {
    margin: 10%;
}
.workout-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: grey;

}
.workout {
    display: inline-flex;
    width: 94%;
    background-color: navy;
    margin: 1%;
    justify-content: center;
    padding: 2%;
}
.workout2 {
    display: inline-flex;
    width: 94%;
    margin: 1%;
    justify-content: center;
    padding: 2%;
    background-color: navy;
    
}
.workout3 {
    display: inline-flex;
    width: 94%;
    margin: 1%;
    justify-content: center;
    padding: 2%;
    background-color: navy;
   
}
.workout4 {
    display: inline-flex;
    width: 94%;    background-color: navy;
    margin: 1%;
    justify-content: center;
    padding: 2%;
}
.workout5 {
    display: inline-flex;
    width: 94%;    background-color: navy;
    margin: 1%;
    justify-content: center;
    padding: 2%;
    
}
.workout6 {
    display: inline-flex;
    width: 94%;
    background-color: navy;
    margin: 1%;
    justify-content: center;
    padding: 2%;
}